<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="messaging">
      <section name="polling" type="System.Configuration.SingleTagSectionHandler" />
      <section name="telegram" type="System.Configuration.SingleTagSectionHandler" />
      <section name="ipb" type="System.Configuration.SingleTagSectionHandler" />
        <sectionGroup name="capabilities">
            <section name="telegram" type="System.Configuration.DictionarySectionHandler"/>
            <section name="ipb" type="System.Configuration.DictionarySectionHandler"/>
        </sectionGroup>
    </sectionGroup>
    <section name="reminders" type="NekroBot.Configuration.ReminderSection, NekroBot" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <messaging>
      <telegram configSource="Telegram.config" />
      <ipb configSource="IPB.config" />
      <polling interval="00:00:10" />
      <capabilities>
          <telegram>
              <add key="GetUpdates" />
              <add key="SendMessage" />
          </telegram>
          <ipb>
              <add key="GetUpdates" />
          </ipb>
      </capabilities>
  </messaging>
  <reminders>
    <add name="counters-1" schedule="0 0 12 21 1/1 ? *" message="Не забудьте отправить показания счётчиков в УК (+7 (966) 151-77-24, mup_nuk@bk.ru)" />
    <add name="counters-2" schedule="0 0 12 22 1/1 ? *" message="Не забудьте отправить показания счётчиков в УК (+7 (966) 151-77-24, mup_nuk@bk.ru)" />
    <add name="counters-3" schedule="0 0 12 23 1/1 ? *" message="Не забудьте отправить показания счётчиков в УК (+7 (966) 151-77-24, mup_nuk@bk.ru)" />
  </reminders>
    <appSettings>
        <add key="data-folder-path" value="..\..\Data\"/>
    </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog throwExceptions="true">
    <targets async="true">
      <target name="con" type="ColoredConsole" encoding="utf-8" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${whenEmpty:${threadname}:whenEmpty=${threadid:padding=2}}] ${uppercase:${pad:${level}:padding=-5}} ${logger:shortName=true:padding=-35} ${message}${onexception:${newline}${exception:format=ToString}}" />
      <target name="file" type="File" encoding="utf-8" fileName="${basedir}/logs/${shortdate}.log" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${whenEmpty:${threadname}:whenEmpty=${threadid:padding=2}}] ${uppercase:${pad:${level}:padding=-5}} ${logger:shortName=true:padding=-35} ${message}${onexception:${newline}${exception:format=ToString}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="con" />
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    <connectionStrings>
        <add name="TelegramDataContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\NekroDb.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
</configuration>
